.navbar{
    margin:30px 0;
}
.navbar button{
    transition: 0.5s;
    padding: 8px;
    font-size:x-large;
    background-color: inherit;
    color:#95c7f5;
    outline:none;
    border: none;
    border-radius:4px;
    cursor:pointer;
}

.navbar button:hover{
    color:white;
    background-color:#151c22;
}