.array-bar{
    width: 2px;
    background-color:#F8EFBA;
    display:inline-block;
    margin: 0 1px;
    color:white;
}

.array-container{
    background-color:#182C61;
    padding:10px;
    height: 500px;
    margin: 50px 100px auto;
    border:1px solid black;
    border-radius: 10px;
}