.array-bar{
    width: 2px;
    background-color:blue;
    display:inline-block;
    margin: 0 1px;
    color:white;
}

.array-container{
    padding:2px;
    height: 500px;
    margin: 50px 100px auto;
    border:1px solid black;
}