.control-panel{
    margin:20px 0;
}
.gen-arr-btn, .control-panel button{
    font-size: medium;
    margin: 0 10px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding:6px;
    outline:none;
    cursor: pointer;
    
}

.control-panel button:hover{
    background-color: rgb(240, 240, 240);
}

.gen-arr-btn{
    border:1px solid grey !important;
    background-color:#182C61 !important;
    color:white
}

.gen-arr-btn:hover{
    background-color:#101e44 !important;
}